<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITS Image Stacker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div id="wrapper">
        <div id="left">
            <h1>Upload FITS files</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="files[]" multiple accept=".fits">
                <input type="submit" value="Upload">
            </form>
            <h4>Upload .fits files in order of highest to lowest filter value</h4>
        </div>
        <div id="right">
            <div id="bgimg">
                <div class="credits">
                    <h4 class="credits_text">Credit: ESO/J. Borissova</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
